@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
}

@using System.Security.Claims

<h2>Mr. Fix-It</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
<div class="jumbotron">
  <h1>Hello @User.Identity.Name!</h1>
  @Html.ActionLink("Main Dashboard", "Index", "Workers")
</div>
} else
{
  <div class="well">
    <p>@Html.ActionLink("Register", "Register")</p>
    <hr>
    <p>@Html.ActionLink("Log in", "Login")</p>
  </div>
}
