@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
          <hr>
            <h5>@Job.Title</h5>
            <div id="complete-view-@Job.JobId" class="hide">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3>Well done! Task Complete!</h3>
                </div>
              </div>
            </div>
            <div id="default-view-@Job.JobId">
              @if(Job.Completed) {
                <h3>
                  This job is complete
                </h3>
              }
              else {
                <h3>You are currently <span id="active-text-@Job.JobId" class="">@if(Job.Pending == false){<span>not</span>}</span> working on this job.</h3>
              }
              <div class="holder">
                <button type="button" name="button" class="toggle-job-activity btn btn-warning">Toggle Activity</button>
                <input type="hidden" value=@Job.JobId>
                <button type="button" name="button" class="complete-job btn btn-success">Mark Complete</button>
              </div>
            </div>
        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}
